
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header{
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #F7FBFD;
  box-shadow: 3px 4px 7px rgba(149, 157, 160, 0.27);
}

header {
  width: 100%;
  height: 100%;
  font-size: 18.2px;
}

header span{
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.13);
  margin-left: 33px;
}

header span a{
  text-decoration: none;
  color: black;
  margin-left: 7px;
}

.container{
  width: 65vw;
  margin: 0 auto;
}

.center {
  width: 55%;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%,-75%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.center h1 {
  font-size: 28px;
  font-weight: 900;
  color: #0075E8;
  margin-bottom: 15px;
}

.center p {
  font-size: 17.5px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.72);
}

form {
  width: 100%;
}

.login {
  width: 20vw;
  margin: 0 auto;
  text-align: left;
}

.pass{
  width: 100%;
  height: 100px;
}

button{
  margin-top: 27px;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: none;
  background-color: #0075E8;
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 17.5px;
  font-weight:bold;
}
